body{
  display: grid;
  width: 100%;
  height: 100vh;
  place-content: center;
}

main{
  width: 600px;
  height: 600px;
  background-color: #2a9d8f;
  border-radius: 12px;
  text-align: center;
  padding-top: 8px;
  display: none;
}

.play1,
.play2{
  font-size: 2rem;
  width: max-content;
  margin-left: 8px;
  margin-right: 8px;
}

.play1{
  color: #a7c957;
  font-family: 'Ubuntu';
  font-weight: 700;
}

span{
  font-family: 'Ubuntu';
  font-weight: 500;
}

.play2{
  color: #e76f51;
  font-family: 'Ubuntu';
  font-weight: 700;
}

input{
  width: 200px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
}

button{
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #023047;
  color: #8ecae6;
  cursor: pointer;
}

label[for='player1']{
color: #a7c957;
font-family: 'Ubuntu';
font-weight: 500;
}

label[for='player2']{
color: #e76f51;
font-family: 'Ubuntu';
font-weight: 500;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,100px);
  place-content: center;
  margin-top: 120px;
  
}

.area{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor:pointer;
  font-size: 3rem;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-weight: 700;
}

.area:nth-child(1),
.area:nth-child(2),
.area:nth-child(3){
border-top: 0;
}

.area:nth-child(1),
.area:nth-child(4),
.area:nth-child(7){
border-left: 0;
}

.area:nth-child(3),
.area:nth-child(6),
.area:nth-child(9){
border-right: 0;
}

.area:nth-child(7),
.area:nth-child(8),
.area:nth-child(9){
  border-bottom: 0;
}

.area:hover{
  background-color: red;
}


.message{
  background-color: #03045e;
  color:#caf0f8 ;
  width: 300px;
  height: 100px;
  place-content: center;
  border-radius: 8px;
  position: absolute;
  margin-left: 150px;
  margin-top: 100px;
  display: none;
}


.winner{
  background-color: #06d6a0;
  color:#000 ;
  width: 300px;
  height: 100px;
  place-content: center;
  border-radius: 8px;
  position: absolute;
  margin-left: 150px;
  margin-top: 100px;
  display: none;
  font-size: 1.100rem;
}

.reset{
  margin-top: 12px;
  transition: 0.7s;
}

.reset:hover{
  color: #023047 ;
  background-color:#8ecae6 ;
}

.score1,
.score2{
  font-size: 2rem;
  font-family: 'Ubuntu';
}

.score1{
  color: #a7c957;
  margin-right: 95px;
}

.score2{
  color: #e76f51;
}