*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  overflow-x: hidden;
}
.form{
  width: 1000px;
  height: 600px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 300px 700px;
  padding: 20px;
}

.steps{
  height: 560px;
  padding: 40px;
  border-radius: 8px;
  background: url('../../Imagens/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
}

.stepCurrent{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.circle{
  margin-right: 12px;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid hsl(229, 24%, 87%);
  color: hsl(229, 24%, 87%);
  font-family: 'Ubuntu';
  font-weight:500;
}

.circle.passo-ativo{
  border-color:hsl(243, 100%, 62%);
  background-color: hsl(206, 94%, 87%);
  color:hsl(213, 96%, 18%) ;
}

.content{
  text-transform: uppercase;
  font-family: 'Ubuntu';
}

.content p{
  color:   hsl(231, 11%, 63%);
}

.content h4{
  color: hsl(0, 0%, 100%);
}

@media(max-width:550px){
  .form{
    width: 485px;
    height: max-content;
    background-color: transparent;
    border-radius:0px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    margin-bottom: 200px;
  }
  .steps{
    display: flex;
    width: 485px;
    height: 200px;
    padding: 0px;
    border-radius: 0px;
    background: url('../../Imagens/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size:485px;
    background-position-y:-700px;
    place-content: center;
    position: relative;
  }
  .content h4,
  .content p{
   display: none; 
  }
  
}


