*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px;
  overflow-x: hidden;
}

h1{
  margin-bottom: 20px;
}

label{
  display: block;
  margin-bottom: 4px;
}

input{
padding: 4px 12px;
border-radius: 4px;
outline: none;
border: 2px solid black;
}

button{
  display: block;
  margin-top: 8px;
  margin-bottom: 60px;
  padding: 6px 24px;
  cursor: pointer;
}

.user-container{
  display: flex;
  flex-direction: column;
}

span{
  margin-top: 4px ;
  font-weight: bold;
}

a{
  text-decoration: underline;
  color: blue;
  transition: .3s;
  width: max-content;
  padding: 4px;
}

a:hover{
  color: black;
}
h2{
  display: block;
}
.container-users{
  display: grid;
  grid-template-columns: repeat(3,200px);
  gap:100px;

}

.user-container{
  margin-top: 20px;
  background-color: beige;
  border-radius: 4px;
  padding: 12px;
gap: 40px;
}

div{
  width: max-content ;
}

.forms{
  display: flex;
  gap: 40px;
}

.description,
.name,
.bio{
width: 200px;
}

