label{
  display: block;
  margin-bottom: 4px;
}

input{
  margin-bottom: 12px;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid black;
  display: block;
}

button{
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}
